{% extends "layout.html" %}
{% from 'macros.html' import renderform %}
{% from "baseframe/forms.html" import richtext_editor %}
{% block title %}Select a Billing Address{% endblock %}
{% block headline %}{% endblock %}
{% block content %}

<h2>Billing Address</h2>


{% if addresses.count() > 0 %}
	<h3>Select a previous address</h3><br/>
	<div id="addressblock" class="row section">
	{% for address in addresses %}
		<div class="addressblock span3">
			{{ address.name }}<br />
			{{ address.address }}<br />
			{{ address.city }} - {{ address.postal_code }}<br />
			{{ address.state }}, {{ address.country }} <br />
			{{ address.phone }}<br />
			<a href="{{ url_for('select_existing_address', workspace=workspace.name, invoice=invoice.url_name, aid=address.hashkey) }}">Use this address</a>&nbsp;|&nbsp;
			<a href="{{ url_for('delete_address', workspace=workspace.name, invoice=invoice.url_name, aid=address.id) }}">Delete</a>
			
		</div>
	{% endfor %}
	</div>
	<h3>Or</h3><br/>
{% else %}
	<p>You have no previous addresses saved.</p>
{% endif %}

<form method="POST">
<h3>Add a New Address</h3><br/>
{%- if form.errors %}
    <div class="alert alert-error">Please correct the indicated errors</div>
{%- endif %}
{{ form.hidden_tag() }}
<div class="row section">
    <div class="span7">
     	<h4>{{ form.name.label(class="span2") }}</h4> {{ form.name(class="span4") }}
        {%- for e in form.name.errors %}
         	<span class="help-block">{{ e }}</span>
        {% endfor %}
     </div>
     <div class="span7">
     	<h4>{{ form.address.label(class="span2") }}</h4> {{ form.address(class="span4") }}
        {%- for e in form.address.errors %}
         	<p class="help-block">{{ e }}</p>
         {% endfor %}
     </div>
     <div class="span7">
     	<h4>{{ form.city.label(class="span2") }}</h4> {{ form.city(class="span4") }}
        {%- for e in form.city.errors %}
         	<p class="help-block">{{ e }}</p>
        {% endfor %}
     </div>
     <div class="span7">
     	<h4>{{ form.state.label(class="span2") }}</h4> {{ form.state(class="span4") }}
        {%- for e in form.state.errors %}
         	<p class="help-block">{{ e }}</p>
        {% endfor %}
     </div>
     <div class="span7">
     	<h4>{{ form.postal_code.label(class="span2") }}</h4> {{ form.postal_code(class="span4") }}
        {%- for e in form.postal_code.errors %}
         	<p class="help-block">{{ e }}</p>
        {% endfor %}
     </div>
     <div class="span7">
     	<h4>{{ form.country.label(class="span2") }}</h4> {{ form.country(class="span4") }}
        {%- for e in form.country.errors %}
         	<p class="help-block">{{ e }}</p>
        {% endfor %}
     </div>
    

</div>
 <div class="form-actions">
          <button type="submit" class="btn btn-primary">Continue</button>
          <a href="{{ url_for('select_address', workspace=workspace.name, invoice=invoice.url_name) }}" class="btn">Cancel</a>
 </div>
</form>
{% endblock %}

