{% extends "layout.html" %}
{% block titletags -%}
  <title>{{ config['SITE_TITLE'] }}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block heading %}
<h1>{{ config['SITE_TITLE'] }}</h1>
{% endblock %}

{% block content %}

<h2>Documentation</h2>
<ol>
  <li><a href="{{ url_for('terms') }}">Terms &amp; Conditions</a></li>
  <li><a href="{{ url_for('disclaimer') }}">Disclaimer</a></li>
  <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
  <li><a href="{{ url_for('refunds') }}">Cancellation &amp; Refund Policy</a></li>
</ol>
{% endblock %}
