{% extends "inc/layout.html" %}
{% block content %}
<table>

<tr>
  <td class="datatype">Amount</td> <td class="datavalue">{{ invoice.amount}} ₹</td>
</tr>

<tr>
<td class="datatype">Name</td> <td class="datavalue">{{ invoice.name }}</td>
</tr>

<tr>
<td class="datatype">Address</td> <td class="datavalue">{{ ' '.join([invoice.billing_address1, invoice.billing_address2]) }}</td>
</tr>

<tr>
<td class="datatype">City</td> <td class="datavalue">{{ invoice.billing_city }}</td>
</tr>

<tr>
<td class="datatype">State</td> <td class="datavalue">{{ invoice.billing_state }}</td>
</tr>

<tr>
<td class="datatype">Country</td> <td class="datavalue">{{ invoice.billing_country }}</td>
</tr>

<tr>
<td class="datatype">Postal Code</td> <td class="datavalue">{{ invoice.shipping_postal_code }}</td>
</tr>

<tr>
<td class="datatype">Email</td> <td class="datavalue">{{ user.email }}</td>
</tr>

<tr>
<td class="datatype">Telephone</td> <td class="datavalue">{{ invoice.telephone }}</td>
</tr>

</table>

<form  method="post" action="https://secure.ebs.in/pg/ma/sale/pay/" name="frmTransaction" id="frmTransaction">
<input name="account_id" type="hidden" value="{{ config['EBS_ACCOUNT'] }}" />
<input name="return_url" type="hidden" value="{{ url_for('ebs_response', _external=True)}}?DR={DR}" />
<input name="mode" type="hidden" value="TEST" />
<input name="reference_no" type="hidden" value="123" />
<input name="amount" type="hidden" value="{{ invoice.amount }}" />
<input name="description" type="hidden" value="Testing Payment" />
<input name="name" type="hidden" value="{{ invoice.name }}" />
<input name="address" type="hidden" value="{{ ' '.join([invoice.billing_address1, invoice.billing_address2]) }}" />
<input name="city" type="hidden" value="{{ invoice.billing_city }}" />
<input name="state" type="hidden" value="{{ invoice.billing_state }}" />
<input name="postal_code" type="hidden" value="{{ invoice.billing_postal_code }}" />
<input name="country" type="hidden" value="{{ invoice.billing_country }}" />
<input name="email" type="hidden" value="{{ user.email }}" />
<input name="phone" type="hidden" value="{{ invoice.telephone }}" />
<input name="ship_name" type="hidden" value="{{ invoice.name }}" />
<input name="ship_address" type="hidden" value="{{ ' '.join([invoice.shipping_address1, invoice.shipping_address2]) }}" />
<input name="ship_city" type="hidden" value="{{ invoice.shipping_city }}" />
<input name="ship_state" type="hidden" value="{{ invoice.shipping_state }}" />
<input name="ship_postal_code" type="hidden" value="{{ invoice.shipping_postal_code }}" />
<input name="ship_country" type="hidden" value="{{ invoice.shipping_country }}" />
<input name="ship_phone" type="hidden" value="{{ invoice.telephone }}" />

<input type="submit" value="Confirm and Pay" />
</form>
{% endblock %}
