{% extends "inc/layout.html.jinja2" %}
{% block content %}
<table>

<tr>
  <td class="datatype">Amount</td> <td class="datavalue">0.0</td>
</tr>

<tr>
<td class="datatype">Name</td> <td class="datavalue">{{ address.name }}</td>
</tr>

<tr>
<td class="datatype">Address</td> <td class="datavalue">{{ address.address }}</td>
</tr>

<tr>
<td class="datatype">City</td> <td class="datavalue">{{ address.city }}</td>
</tr>

<tr>
<td class="datatype">State</td> <td class="datavalue">{{ address.state }}</td>
</tr>

<tr>
<td class="datatype">Country</td> <td class="datavalue">{{ address.country }}</td>
</tr>

<tr>
<td class="datatype">Postal Code</td> <td class="datavalue">{{ address.postal_code }}</td>
</tr>



</table>

<form  method="post" action="https://secure.ebs.in/pg/ma/sale/pay/" name="frmTransaction" id="frmTransaction">
<input name="account_id" type="hidden" value="{{ config['EBS_ACCOUNT'] }}" />
<input name="return_url" type="hidden" value="{{ url_for('ebs_response', _external=True)}}?DR={DR}" />
<input name="mode" type="hidden" value="TEST" />
<input name="reference_no" type="hidden" value="123" />
<input name="amount" type="hidden" value="0.0" />
<input name="description" type="hidden" value="Testing Payment" />
<input name="name" type="hidden" value="{{ address.name }}" />
<input name="address" type="hidden" value="{{ address.address }}" />
<input name="city" type="hidden" value="{{ address.city }}" />
<input name="state" type="hidden" value="{{ address.state }}" />
<input name="postal_code" type="hidden" value="{{ address.postal_code }}" />
<input name="country" type="hidden" value="{{ address.country }}" />
<input name="email" type="hidden" value="{{ address.email }}" />
<input name="ship_name" type="hidden" value="{{ address.name }}" />
<input name="ship_address" type="hidden" value="{{ ' '.join([address.address1, address.address2]) }}" />
<input name="ship_city" type="hidden" value="{{ address.city }}" />
<input name="ship_state" type="hidden" value="{{ address.state }}" />
<input name="ship_postal_code" type="hidden" value="{{ address.postal_code }}" />
<input name="ship_country" type="hidden" value="{{ address.country }}" />

<input type="submit" value="Confirm and Pay" />
</form>
{% endblock %}
